.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: white;
    border-radius: 12px;
  }
  
  .choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  .choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #52057B;
    color: white;
    border-radius: 12px;
  }
  
  .choice-text {
    padding: 1.5rem;
    width: 100%;
  }
  
  .correct {
    background-color: #28a745;
  }
  
  .incorrect {
    background-color: #dc3545;
  }
  
  
  #hud {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
  }
  
  .hud-prefix {
    text-align: center;
    font-size: 2rem;
  }
  
  .hud-main-text {
    text-align: center;
  }
  
  #progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #52057B;
    margin-top: 1.5rem;
  }
  
  #progressBarFull {
    height: 3.7rem;
    background-color: #52057B;
    width: 0%;
  }

  .timer-container{
    display: flex;
    width: 100%;
    justify-content: space-between
  }
  
  #timerText{
    color: #000000;
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
    margin-right: 0.2rem;
  }
  #timerBar{
    width: 65rem;
    height: 0.8rem;
    border: 0.1rem solid #000000;
    margin-top: 0.7rem;
    border-radius: 12px;
    
  }

  #timerBarFull{
    height:0.6rem;
    width: 0%;
    border-radius: 12px;
  }